# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Build folders
build/
dist/
client/build/

# Logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/